
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activate</title>
</head>
<body>
    <div> 
        <p>Hesabınız Aktifleştirildi.</p>
        @Html.ActionLink("Giriş yapmak için tıklayınız", "Login")
    </div>
</body>
</html>
